html {
    width: 100%
}

body {
    overflow-x: hidden!important;
}

html , body , p , span , input , textarea {
    font-family: "IRANSans" , SansSerif , Tahoma !important ;
    direction:  rtl ;
}

.lead , h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: "agoogle" , SansSerif , Tahoma !important ;
}

body.show-spinner>* {
    opacity: 0
}

.input-group {
    flex-direction: row-reverse !important ;
}

body.show-spinner:before {
    content: " ";
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 50%;
    border-top-color: rgba(0, 0, 0, .3);
    animation: a 1s ease-in-out infinite;
    -webkit-animation: a 1s ease-in-out infinite;
    right: calc(50% - 15px);
    top: calc(50% - 15px);
    position: fixed;
    z-index: 1
}


.spinner {
    display : block ;
    margin : 2px 0 ;
    border: 2px solid #fff ;
    border-top-color: transparent ;
    border-radius: 50%;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes a {
    to {
        transform: rotate(1turn)
    }
}

.captcha{
    position: relative;
}

.captcha img{
    display: block ;
    height: 25px ;
    width: auto ;
}
.captcha:hover .reloadcaptcha{
    visibility: visible ;
}
.captcha .reloadcaptcha{
    transition: all 0.3s ease ;
    visibility: hidden ;
    display : block ;
    position: absolute ;
    top : 0;
    left : 5px ;
    background: #232223 ;
    border-radius: 4px ;
    z-index : 999 ;
    padding : 2px 4px;
    cursor: pointer ;
}

.captcha .reloadcaptcha:after {
    font-family: 'simple-line-icons' ;
    content: "\e099" ;
    color : #fff ;
    font-size : 10px
}
.fixed-background{
    background-image: url("../img/coworking.svg") ;
}

.auth-card .image-side {
}
.progressbar-text{
    right: inherit !important;
}

/*@media (max-width: 1439px){*/
    /*main {*/
        /*margin: 130px 380px 30px 50px ;*/
    /*}*/
/*}*/

/*main {*/
    /*margin: 165px 410px 40px 60px ;*/
/*}*/

.sidebar{
    box-shadow: 0 3px 30px rgba(0,0,0,.3), 0 3px 24px rgba(0,0,0,.3);
}
.sidebar .sub-menu ul {
    margin: 20px 0;
}
.sidebar .main-menu ul li.active:after{
    width: 4px !important;
}
.ltr{
    direction: ltr!important;
}
.rtl{
    direction: rtl!important;
}

.scroll {
    overflow-y: auto;
}
.dashboard-donut-chart, .dashboard-list-with-user, .dashboard-logs{
    height : auto !important;
    max-height: 270px !important;
}
.log-indicator {
    width: 10px !important ;
    height: 10px !important ;
}
.logo-single, h1, h3 {
    display: inline-block;
}