@font-face {
    font-family: 'Sahel';
    font-style: normal;
    src:url('fonts/Sahel.eot?-rdmvgc');
    src:url('fonts/Sahel.eot?#iefix-rdmvgc') format('embedded-opentype'),
    url('fonts/Sahel.woff?-rdmvgc') format('woff');
    font-weight: normal;
}
