html {
    width: 100%
}

body {
    overflow-x: hidden!important;
}

.font-1 , html , body , p , span , input , textarea , .ui-menu .ui-menu-item{
    font-family: "IRANSans" , SansSerif , Tahoma !important ;
    direction:  rtl ;
}

.font-2 , .table.table-padded thead tr th , .skills__list .counter , .lead , h1 , h2 , h3 , h4 , h5 , h6 , .head , .h1 , .h2 , .h3 , .h4 , .h5 , .h6 , .sidebar .main-menu ul li span{
    font-family: "agoogle" , SansSerif , Tahoma !important ;
}

body.show-spinner>* {
    opacity: 0
}

.input-group {
    flex-direction: row-reverse !important ;
}

/* Hide everything under body tag */
body.show-spinner > *{
    opacity: .0 ;
}

/* Spinner */
body.show-spinner::before{
    content: " ";
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border-top-color: rgba(0, 0, 0, 0.3);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    position: fixed;
    z-index: 1;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.captcha{
    position: relative;
}

.captcha img{
    display: block ;
    height: 25px ;
    width: auto ;
}
.captcha:hover .reloadcaptcha{
    visibility: visible ;
}
.captcha .reloadcaptcha{
    transition: all 0.3s ease ;
    visibility: hidden ;
    display : block ;
    position: absolute ;
    top : 0;
    left : 5px ;
    background: #232223 ;
    border-radius: 4px ;
    z-index : 999 ;
    padding : 2px 4px;
    cursor: pointer ;
}

.captcha .reloadcaptcha:after {
    font-family: 'simple-line-icons' ;
    content: "\e099" ;
    color : #fff ;
    font-size : 10px
}
/*.fixed-background{*/
    /*background-image: url("../img/coworking.svg") ;*/
/*}*/

.auth-card .image-side {
}
.progressbar-text{
    right: inherit !important;
}

/*@media (max-width: 1439px){*/
    /*main {*/
        /*margin: 130px 380px 30px 50px ;*/
    /*}*/
/*}*/

/*main {*/
    /*margin: 165px 410px 40px 60px ;*/
/*}*/

.sidebar{
    box-shadow: 0 3px 30px rgba(0,0,0,.3), 0 3px 24px rgba(0,0,0,.3);
}
.sidebar .sub-menu ul {
    margin: 20px 0;
}
.sidebar .main-menu ul li.active:after{
    width: 4px !important;
}
.ltr{
    direction: ltr!important;
}
.rtl{
    direction: rtl!important;
}

.scroll {
    overflow-y: auto;
}
.dashboard-donut-chart, .dashboard-list-with-user, .dashboard-logs{
    height : auto !important;
    max-height: 270px !important;
}
.log-indicator {
    width: 10px !important ;
    height: 10px !important ;
}
.logo-single, h1, h3 {
    display: inline-block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    outline: 1px solid rgba(0, 0, 0, 0.3);
}
::-moz-selection {
    background: rgba(255,193,7, .5 ) ;
    color :#332702 ;
}
::selection {
    background: rgba(255,193,7, .5 ) ;
    color :#332702 ;
}

.has-top-label>span:last-of-type, .has-top-label label{
    font-size: 110% !important; ;
}

.cover{
    height : 150px ;
    background-color : rgba(0,0,0,.2) ;
    box-shadow : 0 0 10px rgba(0,0,0,.1) inset ;
    margin : 10px 0 20px;
    display : flex ;
    flex-direction : row ;
    align-items: center ;
    justify-content: center;
    background-size: cover;
    background-position: center center;
}
.hidden {
    display : none !important
}
.profile__change-cover{
    display: block;
    background-color: #c0702f;
    position: absolute;
    top: 10px;
    left: 10px;
    /* padding: 4px 10px; */
    height: 20px;
    width: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    border-radius: 50%;
    text-align: center;
    padding: 5px 0;
    cursor : pointer ;
}
.profile__change-cover i{
    display: block;
    color: #fff;
    font-size: 10px;
    text-align: center;
}
.cover#profile__cover{
    position : relative;
}

.profile__change-pic{
    display : block ;
    background-color : #fff ;
    position : absolute ;
    top : 10px ;
    left : calc(50% + 30px);
    padding : 4px 10px ;
    box-shadow : 0 0 5px rgba(0,0,0,.1);
}
.profile__change-pic i{
    display: block ;
    color : #000 ;
    font-size : 20px
}
.form-control[dir="ltr"] {
    text-align: left;
    font : 12px Georgia, Times New Roman, serif  ;
}

button.close {
    font-size: 16px;
    padding: 3px 0;
    color: #000;
}
.input-group-prepend {
    margin-right: -1px;
}

.lengthCheck{
    position: relative ;
}

.lengthCheck:after{
    content: attr(data-length);
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #fff;
    color: #000;
    border-radius: 4px;
    padding: 4px 10px 3px;
    border: 1px solid #d7d7d7
}

.accrodin{
    margin: 15px 0;
}

.accrodin .head {
    background: rgba(0,0,0,.05) ;
    padding: 15px 20px;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    border-radius: 5px;
    color: #7b7b7b;
    cursor: pointer;
}

.accrodin.active .head:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border: 10px transparent solid;
    position: absolute;
    border-top-color: #ff9c37 ;
    bottom:-20px;
    left:calc(50% - 10px);
}

.accrodin .body{
    display : none ;
    padding : 20px  0 0 0;
}
.accrodin.active .body{
    display : block ;
}

.accrodin.active .head{
    background:linear-gradient(to left top,#d15f12,#f9a550,#ff9c37) ;
    font-weight: normal;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    color: #fff ;
}


.account-type {
    display: flex;
    width: calc(100% + 20px);
    margin: 0 0 20px
}

.account-type div {
    flex: 1;
    margin-left: 20px
}

.account-type label {
    border-radius: 3px;
    border: 0;
    background-color: #f2f2f2;
    width: 100%
}

.account-type input.account-type-radio:empty {
    display: none
}

.account-type label i {
    position: relative;
    top: 2px;
    margin-left: 2px ;
    font-size: 20px;
}

.account-type input.account-type-radio:empty~label {
    position: relative;
    float: right;
    padding: 7px 0;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    color: #888;
    transition: .4s;
    overflow: hidden
}

.account-type input.account-type-radio~label:hover {
    color: rgb(105, 100, 100 , .5);
    background-color: #ffc1076e
}

.account-type input.account-type-radio:checked~label {
    color: #000 ;
    background : linear-gradient(to left top,#d15f12,#f9a550,#ff9c37)
}

.account-type input.account-type-radio:empty~label:after,
.account-type input.account-type-radio:empty~label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 48px;
    border-radius: 4px;
    background: 0;
    z-index: 100;
    opacity: 0
}

.account-type .ripple-effect-dark span.ripple-overlay {
    animation: ripple 1.2s;
    opacity: .03
}

@keyframes typeCheck {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }
    50% {
        opacity: 1;
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        transform: translateY(-10px)
    }
}

@keyframes typeBG {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.accrodins .verify {
    position: absolute;
    bottom: 5px;
    right: 10px;
    z-index: 9;
    height: auto;
    width: auto;
}

button.products {
    border: none;
    border-radius: 5px;
    padding: 20px 10px;
    font-size: 17px;
    letter-spacing: .03em;
    position: relative;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    transition: background-color .3s ease;
    cursor: pointer;
    background:linear-gradient(to left top,#d15f12,#f9a550,#ff9c37);
    font-weight: normal;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    color: #fff;
}

button.products:hover {
    background-color: #714f33db;
}

button.products:focus {
    outline: 0;
    -webkit-animation: button-bounce 2.2s forwards infinite cubic-bezier(.165, .84, .44, 1);
    -moz-animation: button-bounce 2.2s forwards infinite cubic-bezier(.165, .84, .44, 1);
    animation: button-bounce 2.2s forwards infinite cubic-bezier(.165, .84, .44, 1)
}

button.products:after {
    background-color: #714f33db;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-animation: button-blip 2.2s forwards infinite cubic-bezier(.215, .61, .355, 1);
    -moz-animation: button-blip 2.2s forwards infinite cubic-bezier(.215, .61, .355, 1);
    animation: button-blip 2.2s forwards infinite cubic-bezier(.215, .61, .355, 1)
}

button.products:hover:after {
    border-color: transparent
}

@-webkit-keyframes button-bounce {
    0% {
        transform: scale(1)
    }
    10% {
        transform: scale(.96)
    }
    20% {
        transform: scale(1.04)
    }
    100%,
    52% {
        transform: scale(1)
    }
}

@-moz-keyframes button-bounce {
    0% {
        transform: scale(1)
    }
    10% {
        transform: scale(.96)
    }
    20% {
        transform: scale(1.04)
    }
    100%,
    52% {
        transform: scale(1)
    }
}

@keyframes button-bounce {
    0% {
        transform: scale(1)
    }
    10% {
        transform: scale(.96)
    }
    20% {
        transform: scale(1.04)
    }
    100%,
    52% {
        transform: scale(1)
    }
}

@-webkit-keyframes button-blip {
    0% {
        transform: scaleX(1) scaleY(1);
        opacity: 0
    }
    10% {
        transform: scaleX(1) scaleY(1);
        opacity: .7
    }
    30%,
    99% {
        transform: scaleX(1.08) scaleY(1.35);
        opacity: 0
    }
    100% {
        transform: scaleX(1) scaleY(1);
        opacity: 0
    }
}

@-moz-keyframes button-blip {
    0% {
        transform: scaleX(1) scaleY(1);
        opacity: 0
    }
    10% {
        transform: scaleX(1) scaleY(1);
        opacity: .7
    }
    30%,
    99% {
        transform: scaleX(1.08) scaleY(1.35);
        opacity: 0
    }
    100% {
        transform: scaleX(1) scaleY(1);
        opacity: 0
    }
}

@keyframes button-blip {
    0% {
        transform: scaleX(1) scaleY(1);
        opacity: 0
    }
    10% {
        transform: scaleX(1) scaleY(1);
        opacity: .7
    }
    30%,
    99% {
        transform: scaleX(1.08) scaleY(1.35);
        opacity: 0
    }
    100% {
        transform: scaleX(1) scaleY(1);
        opacity: 0
    }
}

.card , .dropdown-menu{
    border-radius: 5px!important;
}
i.large-icon{
    font-size: 60px;
    line-height: 110px;
    display: initial;
}

.cover__side{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: .1;
    filter: grayscale(1);
}
.overflow_hidden {
    overflow: hidden;
}
.font-en , .pagination ul li a , .lengthCheck:after{
    font-family: 'Roboto', sans-serif !important;
}
.card{
    border-radius: 10px!important;
}
.tooltip-inner {
    border-radius: 15px !important;
    padding: 4px 15px!important;
    font-size : 12px !important;
}

.alert {
    border-radius: 5px!important;
    color: #fff!important;
    border: none!important;
    outline: none!important;
    font-size: 17px!important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(0,0,0,0.1)!important;
}

.alert-success{
    background: linear-gradient( 80deg , #9ad468 , #31bd51)!important;
}
.alert-danger{
    background: linear-gradient(80deg, #ff6f76, #ef4848db)!important;
}

.alert-dismissible .close {
    top: calc(50% - 15px) !important;
    color : #fff !important;
}

.navbar .user img {
    border-radius: 10px !important;
}


/*** skills ***/
/**************/

#skills{
    display: block;
    height: auto ;
    background: #fff ;
    overflow: hidden ;
    box-shadow : 0 2px 4px rgba(0,0,0,.1)
}

#skills .head{
    background: #ddd ;
    padding: 15px ;
    position: relative ;
}

#skills .head input{
    background: #fff ;
    border-radius: 0 ;
    border : 1px solid #ddd ;
    outline: none ;
    width: 100% ;
    padding: 10px ;
}

#skills .head:after {
    content : "\e090" ;
    font-family: 'simple-line-icons';
    position: absolute ;
    top : 22px ;
    left : 30px ;
    font-size : 15px ;
    color : #777;
}

#skills .body {
    display: block ;
    overflow: hidden ;
    height: 390px ;
    max-height: 390px ;
    min-height: 130px ;
    position: relative ;
    overflow-y : auto;
}

#skills .body .top + .import{
    border-top : 1px #ddd solid ;
    padding: 10px 0 0 0 ;
}
#skills .body .top.hidden + .import {
    border-top : none !important; ;
    padding: 0 !important;
}


#skills .body .loading{
    position: absolute !important;
}


.skills .body ul.tags , .skills .body ul.tags li{
    list-style: none ;
    margin: 0 ;
    padding: 0 ;
}

.skills .body ul.tags li{
    width: 33.333% ;
    height: 130px ;
    outline: 1px solid #f7f7f7 ;
    float : right;
    text-align: center ;
    overflow: hidden ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    color : #777 ;
    transition: all .3s ease ;
}

.skills .body ul.tags li i {
    font-size : 2.5em !important ;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.skills .body ul.tags li span{
    padding-top: 12px !important;
}

.skills .body ul.tags li:hover ,.skills .body ul.tags li.active {
    background: #e2863b ;
    color : #fff ;
    cursor: pointer ;
    box-shadow :inset 0 0 10px rgba(0,0,0,.05)
}

.btn-default {
    color: #777;
    background-color: transparent !important ;
    border-color: #ddd !important;
    transition : all .3s ease
}

.btn-default:hover{
    background : #ddd !important
}

.skills .body ul.skills , .skills .body ul.skills li{
    margin : 0 ;
    padding : 0 ;
    list-style: none ;
}

.skills .body ul.skills{
    margin: 0 !important;
}

.skills .body ul.skills li {
    display: block;
    position: relative;
    width: calc(50% - 15px);
    margin: 0 10px 10px 0 !important;
    float: right;
    overflow: hidden;
    font-size: 13px;
    color : #777
}

.skills .body ul.skills li:nth-last-child(2n){
    margin-left : 0 !important;
}

.skills .body ul.skills li input{
    display : none ;
}

.skills .body ul.skills li label{
    display: block ;
    padding: 6px 10px ;
    line-height: 16px;
    margin: 0 !important;
    position: relative ;
    border-radius: 2px;
    cursor: pointer;
}

.skills .body ul.skills li label:after{
    content: "\e095";
    font-family: 'simple-line-icons';
    position: absolute;
    color: #fff;
    font-size: 15px;
    top: 6px;
    left: 10px;
}

.skills .body ul.skills li label:hover {
    background: #ce8f5ccf ;
    color : #fff ;
}

.skills .body ul.skills li input:checked + label:after{
    content : "×" ;
    font-size: 18px;
    top: 4px;
    left: 10px;
}

.skills .body ul.skills li input:checked + label{
    background: #e2863b ;
    color : #fff ;
}

.skills__list{
    display: block;
    height: auto ;
    background: #fff ;
    overflow: hidden ;
    box-shadow : 0 2px 4px rgba(0,0,0,.1) ;
}

.skills__list .head{
    background: #ddd ;
    padding: 15px ;
    position: relative ;
    text-align: center ;
    height: 125px;
    overflow: hidden ;
    font-size : 10px ;
    color : #777
}

.skills__list .counter{
    padding : 10px ;
    color : #777 ;
    border-bottom: 1px #ddd solid ;
}

.skills__list ul.list , .skills__list ul.list li{
    margin : 0 ;
    padding : 0 ;
    list-style: none ;
}

.skills__list ul.list{
    margin: 10px !important;
    height: 235px;
    overflow-y: auto ;
}

.skills__list ul.list li {
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    color : #777
}

.skills__list ul.list li input{
    display : none ;
}

.skills__list ul.list li label{
    display: block ;
    padding: 6px 10px ;
    line-height: 16px;
    margin: 0 !important;
    position: relative ;
    border-radius: 2px;
    cursor: pointer;
}

.skills__list ul.list li label:after{
    position: absolute;
    color: #fff;
    content : "×" ;
    font-size: 18px;
    top: 6px;
    left: 10px;
    visibility: hidden;
}
.skills__list ul.list li:hover label:after{
    visibility: visible;
}

.skills__list ul.list li label:hover {
    background: #e2863b ;
    color : #fff ;
}

.skills__list .counter span {
    margin: 0 0 0 4px;
    font-weight: bold;
}


.table.table-padded {
    border-collapse: separate;
    border-spacing: 0px 10px;
}

.table.table-padded thead{
    /*background : rgba(0,0,0,.01) ;*/
    padding : 10px !important;
}

.table.table-padded thead tr th {
    border: none;
    font-size: .81rem;
    color: rgba(90, 99, 126, 0.49);
    letter-spacing: 1px;
    padding: 10px 5px ;
}

.table.table-padded tbody tr {
    border-radius: 10px ;
    background: #eeeeee30;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    box-shadow: 0px 1px 0px 1px rgba(12, 5, 5, 0.1);
}

.table.table-padded tbody tr.not__color{
    background: transparent ;
    box-shadow: 0 0 0 transparent;
}

.table .user-with-avatar {
    white-space: nowrap
}

.table .user-with-avatar img {
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50px
}

.table .user-with-avatar span {
    display: inline-block;
    vertical-align: middle
}

.table .user-with-avatar img+span {
    margin-right: 10px
}

.table .icon-separator {
    margin: 0px 4px;
    opacity: 0.6
}

.table th {
    font-weight: 500
}

.table .smaller,
.table.smaller {
    font-size: .72rem
}

.table .lighter {
    color: rgba(90, 99, 126, 0.49)
}

.table.table-v-compact td {
    padding: 0.3rem 0.75rem
}

.table.table-compact td {
    padding: 0.3rem 0.45rem
}

.table.table-editable td:hover {
    background-color: #fff;
    -webkit-box-shadow: inset 0px 0px 0px 2px #047bf8;
    box-shadow: inset 0px 0px 0px 2px #047bf8
}

.table.table-lightborder td {
    border-color: rgba(83, 101, 140, 0.08)
}

.table.table-clean tr:first-child td {
    border-top: none
}

.table.table-clean td {
    padding-right: 0px;
    padding-left: 0px;
    border-top-color: rgba(0, 0, 0, 0.05)
}

.table.table-clean td .value {
    font-size: .9rem;
    line-height: 1.2
}

.table.table-clean td .sub-value {
    font-size: .72rem;
    color: rgba(90, 99, 126, 0.49)
}

.table.table-lightfont td {
    font-weight: 300
}

.table.table-padded tbody tr:hover {
    -webkit-transform: translateY(-1px) scale(1.01);
    transform: translateY(-1px) scale(1.01) ;
}


.table.table-padded tbody td {
    padding: 15px 10px ;
    border: none;
}

.table.table-padded tbody td.bolder {
    font-weight: 500;
    font-size: .99rem
}

.table.table-padded tbody td img {
    display: inline-block;
    vertical-align: middle
}

.table.table-padded tbody td img+span {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle
}

.table.table-padded tbody td span+span {
    margin-right: 5px
}

.table.table-padded tbody td .status-pill+span {
    margin-right: 10px
}

.table.table-padded tbody td:first-child {
    border-radius: 4px 0px 0px 4px
}

.table.table-padded tbody td:last-child {
    border-radius: 0px 4px 4px 0px;
    border-left: none
}

.plan__nav {
    border-radius: 20px;
    display: block;
    padding: 6px 4px 4px;
    text-align: center;
    margin: 0 10px 7px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}


.payments form .form-group{
    background: rgba(0,0,0,.05) ;
    border-radius: 25px ;
    margin: 0 !important ;
    padding: 5px ;
    position: relative;
}

.payments form .form-group input{
    background: transparent;
    border : 0 solid  ;
    outline: none ;
    position: relative;
}

.payments form .form-group .icon{
    position: absolute ;
    top: 18px;
    left : 25px ;
    color : #000 ;
    z-index: 99 ;
    transition: all .3s ease ;
    transform: rotateY(180deg);
}

.payments form .form-control:focus + .icon{
    color : #e2863b ;
    transform: rotateY(0deg);
}


.pagination {
    margin: 20px 0 0 ;
    text-align: center;
    display: flex ;
    align-items: center;
    justify-content: center;
}

.pagination-next-prev {
    position: relative;
    top: -66px
}

.pagination ul {
    margin: 0;
    padding: 0
}

.pagination ul li {
    display: inline-block;
    margin: 0;
    padding: 0 ;
    border-radius: 50%;
    overflow: hidden;
}

.pagination ul li a,
.pagination-next-prev ul li a,
.pagination ul li span {
    padding: 10px 0;
    border-bottom: 0;
    display: inline-block;
    color: #333;
    background-color: transparent;
    font-weight: 700;
    margin: 0;
    line-height: 22px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    float: right
}

.pagination ul li a,
.pagination ul li span {
    border-radius: 4px;
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 30px
}

.pagination ul li a i {
    line-height: 30px
}

.pagination ul li.blank {
    color: #a0a0a0;
    padding: 0 6px
}

.section.gray .pagination .pagination-arrow a:hover,
.pagination ul li a.current-page,
.pagination ul li span.current-page,
.pagination ul li a:hover {
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2)
}

.pagination ul li a.current-page {
    background-color: #e2863b;
    color: #fff;
    box-shadow: 0 2px 8px rgba(102, 103, 107, .25)
}

.pagination .pagination-arrow a {
    background-color: #f0f0f0
}

.compelete_step{
    display : flex ;
    flex-direction: column;
    background-image: linear-gradient(to left top,#d15f12,#f9a550,#ff9c37);
    box-shadow: 0 1px 6px rgba(0,0,0,.1), 0 1px 6px rgba(0,0,0,.1);
    padding : 20px ;
    align-items: center;
    justify-content: center;
    border-radius: 5px ;
}

.compelete_step span{
    font-size : 20px;
    font-weight: 600 ;
    margin-bottom: 10px ;
    letter-spacing: -2px ;
    color : #fff
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 100px ;
    font-size: 20px;
    z-index: 4 ;
}

.compelete_step .proccess{
    display: block ;
    border-radius: 15px ;
    background :rgba(255,255,255,0.2) ;
    width: 100% ;
    height: 5px ;
    margin : 15px 0 0 0 ;
    position: relative;
    overflow: hidden;
}

.compelete_step .proccess .proccess_bar{
    display: block;
    height: 100% ;
    background: linear-gradient(45deg, #824c21, #c35c0a) ;
    position: absolute ;
    right : 0 ;
    top : 0 ;
    border-radius: 15px ;
    transition: width .3s, height .3s;

}

.overflow-x-auto{
    overflow-x: auto;
}
.overflow-inherit {
    overflow-x: inherit;
}
.content-box{
    background: linear-gradient(45deg, rgba(0,0,0,0.05), rgba(0,0,0,0.08));
    padding: 1rem;
    grid-area: box;
    display: block;
    border-radius: 5px;
    border: 1px rgba(175, 175, 175, 0.2) solid;
}
.content-box h3{
    font-weight: bold;
    display: flex;
    font-size: 14px;
    align-items: center;
}

.content-box h3:before{
    content : "\e66f" ;
    font-family: 'icomoon' ;
    display: block ;
    float : right;
    color : #e2863b ;
    margin: 0 0 0 3px ;
    font-size: 20px;
}

.g_checkbox{
    display: flex ;
    justify-content: flex-start;
    align-items: center ;
}

.g_checkbox .checkbox{
    display: block;
    flex: 1;
    position: relative ;
}
.g_checkbox .checkbox input{
    display: none ;
}
.g_checkbox .checkbox input + span{
    display: flex ;
    height: 54.8px ;
    align-items: center;
    justify-content: center;
    border : 1px solid #d7d7d7 ;
    font-size : 15px ;
    font-weight: 600 ;
    color  : #777777 ;
    cursor: pointer ;
}
.g_checkbox .checkbox:nth-of-type(2n) input + span{
    border-right-color : transparent;
}

.g_checkbox .checkbox:nth-last-child(1) input + span{
    border-radius: 4px 0 0 4px ;
}
.g_checkbox .checkbox:nth-of-type(1) input + span{
    border-radius: 0 4px 4px 0 ;
}
.g_checkbox .checkbox input:checked + span{
    border-color: #e2863b ;
    color : #e2863b ;
    background: rgba(255, 157, 64, 0.34);
}


@media (max-width: 900px ) {
    .g_checkbox .checkbox input + span{
        font-size : 12px !important;
    }
}

/*** amount ***/
.amount {
   position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.amount-nav {
    overflow: hidden;
    display: block;
    position: absolute;
    bottom: 8px;
    left: 8px;
    background: rgba(0,0,0,0.01) ;
}
.amount-button {
    cursor: pointer;
    font-size: 16px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease ;
}
.amount-button.amount-up,
.amount-button.amount-down {
    float: right;
}
.amount-button:hover{
    background: rgba(255, 157, 64, 0.34) ;
}

.tags__team{
    display : flex ;
    align-items: center ;
    justify-content: space-between ;
}

.tags__team label input {
    display: none ;
}
.tags__team label {
    display: block ;
    flex : 1 ;
    padding: 5px ;
}
.tags__team label input + div {
    display: flex ;
    padding: 15px ;
    background: #eee ;
    border-radius: 5px ;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    cursor: pointer ;
    border : 1px transparent solid ;
    color : #777777
}

.tags__team label input:checked + div {
    border-color: #e2863b ;
    color: #e2863b ;
    background: rgba(255, 157, 64, 0.34);
}
.tags__team label input:checked + div i{
    transform: scale(1.2);
}

.tags__team label input + div span{
    font-size: 15px;
    font-weight: 600 ;
    padding : 2px 10px ;
}

.tags__team label input + div i {
    display : block ;
    font-size : 30px;
    margin-bottom: 15px ;
    transition: all .3s ease ;
}

.tags__team .next , .tags__team .prev{
    display : flex ;
    align-items: center;
    justify-content: center;
    position : absolute;
    top : calc(50% - 40px) ;
    height : 30px ;
    width: 30px ;
    background: transparent ;
    border-radius: 50%  ;
    border: none ;
    cursor: pointer ;
    font-size: 30px ;
    color : #c7c7c7;
    text-align : center ;
    border: 1px transparent solid ;
}

.tags__team .next {
    right : -40px ;
}
.tags__team .prev {
    left : -40px ;
}

.tags__team .slick-disabled{
    opacity: 0.1 ;
    cursor: not-allowed ;
}

label.error {
    display: block !important;
    position: relative!important ;
    bottom: 0 !important ;
    left: 0 !important;
    padding: 0 0 5px!important;
    margin: 0!important;
    right: 0!important;
    font-size: 12px!important;
    color: #ef6565 !important ;
}

.btn__team{
    display: block;
    padding: 5px 25px;
    background: #eee;
    border-radius: 5px;
    cursor: pointer;
    border: 1px transparent solid;
    color: #777;
}
.btn__team:hover{
    box-shadow: 0 0 1px rgba(0,0,0,.1);
}
